<h1>Friends</h1>

<br/>

<table class="table table-light table-hover border-bottom">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th colspan=""></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td>
        <%= link_to friend.first_name + " " + friend.last_name, friend %>
        </td>

        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.twitter %></td>

        <%# <td><%= link_to "Edit", edit_friend_path(friend), class:"btn btn-outline-secondary btn-sm"</td> %>
        <td><%= link_to "Delete", friend, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete your friend?"}, class:"btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<%= link_to "New friend", new_friend_path, class:"btn btn-secondary" %>
